
  .customclass {
    color: #219f94;
    text-shadow: #219f94; 
    font-weight: bold;
  }
  .customclassItem {
    color: #219f94;
    text-shadow: #219f94; 
  }
  .site-layout-background {
    background: #fff;
  }