.datafield {
    width: 200px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 6px 20px;
}
.head {
    margin-left: 10px;
}
.first, .second {
    margin: 10px;
}
.create_user {
    border-radius: 25px;
    padding: 8px 20px;
    margin-top: 10px;
    background-color: white;
    border:none;
    color: #219F94;
    border: 2px solid white;
}
.create_user:hover {
    border-radius: 25px;
    padding: 8px 20px;
    margin-top: 10px;
    background-color: #219F94;
    border:none;
    color: white;
    border: 2px solid white;   
}