@mixin flex-style($direction) {
  display: flex;
  flex-direction: $direction;
}
$primarycolor: #219f94;
.information-content {
  @include flex-style(column);
}
.profile-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 5px;
  gap: 10px;
}
.profile-top .profile {
  width: 40%;
  margin: 2px;
}
.profile-bottom {
  flex: 1;
  text-align: center;
  margin-top: 10px;
}
.user_photo {
  height: 150px;
  width: 150px;
  border: 2px solid $primarycolor;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.profile-bottom button {
  padding: 6px 40px;
  border-radius: 25px;
  border: 2px solid $primarycolor;
  color: white;
  &:hover {
    background-color: $primarycolor;
    color: white;
    border: 2px solid $primarycolor;
  }
}
label {
  color: $primarycolor;
  font-size: 15px;
}
.icons {
  size: 10px;
  margin: 5px;
}
.field {
  padding: 5px 15px;
  border: 1px solid $primarycolor;
  margin-bottom: 25px;
  border-radius: 5px;
}
.edit-field {
  margin: 2px;
}
