.mid_container {
  height: calc(100vh - 85px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.upper-container {
  display: flex;
  justify-content: space-evenly;
}
.upper-container .left-container,
.right-container {
  width: 40%;
}
.mid-container {
  display: flex;
  justify-content: center;
}
.data-field {
  border-radius: 5px;
  padding: 6px 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: black;
  background-color: #b3d6d3;
}
.training-line {
  border-radius: 5px;
  padding: 6px 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  color: black;
  background-color: #b3d6d3;
}
.create_user {
  padding: 7px 20px;
  border-radius: 15px;
  border: 2px solid #219f94;
  cursor: pointer;
  color: #219f94;
  background-color: white;
}
.create_user:hover {
  color: white;
  background-color: #219f94;
  border: 2px solid white;
}
.option-field {
  color: black;
}
input[type="file"] {
  background-color: white;
  padding: 3.9px 18px;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
}
